[submodule "IsaacLab"]
	path = IsaacLab
	url = git@github.com:GTLIDAR/IsaacLab.git
[submodule "RLOpt"]
	path = RLOpt
	url = git@github.com:fei-yang-wu/RLOpt.git
[submodule "ImitationLearningTools"]
	path = ImitationLearningTools
	url = git@github.com:GTLIDAR/ImitationLearningTools.git
